<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282836346606-ebds4nqi45emvns6qefehffj6sq8spsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282836346606-ebds4nqi45emvns6qefehffj6sq8spsk</string>
	<key>API_KEY</key>
	<string>AIzaSyAmw9lkreeia-UyuQiHeIIxGcvekmmx2j0</string>
	<key>GCM_SENDER_ID</key>
	<string>282836346606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trustedcampaigns.ios</string>
	<key>PROJECT_ID</key>
	<string>trusted-campaigns</string>
	<key>STORAGE_BUCKET</key>
	<string>trusted-campaigns.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282836346606:ios:072e99aaa894f93d48b5ff</string>
	<key>DATABASE_URL</key>
	<string>https://trusted-campaigns.firebaseio.com</string>
</dict>
</plist>